* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 32px;
    background-color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 32px;
}

.main-container {
    max-width: 1500px;
    margin: 0 auto;
}

.main-header {
    text-align: center;
    font-weight: 500;
    font-size: 64px;
    margin-bottom: 64px;
}

.main-header > span {
    font-weight: 900;
}

.footer a {
    text-decoration: none;
    color: cyan;
}

.footer {
    font-size: 10px;
    text-align: center;
}

.game {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 64px;
}

.player-options {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
}

div.player-options button {
    max-width: 200px;
    max-height: 200px;
    border: 5px solid cyan;
}

div.player-options img {
    max-width: 100%;
    max-height: 100%;
}

.game-information {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 300px;
}

img.computer-choice {
    max-width: 200px;
    max-height: 200px;
    border: 5px solid firebrick;
}
